<div class="card text-center mb-3 post">
    <% if(post.mode === 'need'){ %>
        <div class="card-header bg-danger">

    <% }else if(post.mode === 'offer'){ %>
        <div class="card-header bg-success">
    <% } %>
        <% if(post.anonym !== true){ %>
            <p class="mb-0"><b><%= post.owner %> dice:</b></p>
        <% } else { %>
            <p class="mb-0"><b>Anónimo dice:</b></p>
        <% } %>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.description %></p>
        <!-- Puedes mostrar otros detalles del post aquí -->
        <!-- <a href="#" class="btn btn-primary">Ir a la plática</a> -->
    </div>
    <div class="card-footer text-body-secondary">
        <!-- Muestra la fecha del post, podrías necesitar formatearla según tus necesidades -->
        <p><%= post.date.getHours() %>:<%= post.date.getMinutes() %>-<%= post.date.getDate() %>/<%= post.date.getMonth() %></p>
    </div>
</div>